
*.pyd
*.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/autoclicker.cpython-36.pyc
autoclicker.spec
build/autoclicker/autoclicker.exe.manifest
build/autoclicker/base_library.zip
build/autoclicker/out00-Analysis.toc
build/autoclicker/out00-COLLECT.toc
build/autoclicker/out00-EXE.toc
build/autoclicker/out00-PKG.pkg
build/autoclicker/out00-PKG.toc
build/autoclicker/out00-PYZ.pyz
build/autoclicker/out00-PYZ.toc
build/autoclicker/warnautoclicker.txt
build/autoclicker/xref-autoclicker.html
dist/autoclicker.zip
dist/autoclicker/autoclicker.exe.manifest
dist/autoclicker/base_library.zip
setup.py
